<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="https://media.istockphoto.com/photos/food-plate-icon-blue-glossy-round-button-picture-id547202460?b=1&k=20&m=547202460&s=170667a&w=0&h=Kjo3fImQ9xkQYifVpHt-cfDkaw_dlzLh6ZJlcA1jJ5c=" width="30px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          <a class="nav-link active" routerLink="/about">About us</a>
          <a class="nav-link active" routerLink="/menu">Menu</a>
          <a class="nav-link active" routerLink="/cart">Cart</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="hero-image"></div>
  <div class="hero-text text-light">
    <h1>Ristorante JL Gambero Rosso</h1>
    <p>Delivering great food for more than 18 years!</p>
    <div>
    <button class="bg-success mx-2">Our Menu</button>
    <button class="bg-success mx-2">Book a Table</button>
    </div>
  </div>
  <br>
