<h3>Cart</h3>


<div class="cart-item" *ngFor="let item of items">
<img src="{{item.img}}">
 <span>{{ item.name }} </span>

 <span>{{ item.price | currency:"EUR" }}</span>

</div>

<div class="container.fluid text-center p-5 row">
    <h1>Order Form</h1>
    <p>please fill up the info for the delivery</p>
    <hr>
    <div class="d-flex justify-content-center">
    <p>Name &ensp;<input type="text" formControlName="name"></p> 
    </div>
    <p>Address &nbsp;<input type="text" formControlName="address"></p>
</div>