<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12 justify-content-center my-1">
            <div class="card">
                <div class="card-title">
                    <h2>Cart: {{count}} item(s)</h2>
                </div>
                <div class="card-body">
                    <div class="cart-item" *ngFor="let item of items">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="{{item.img}}" class="d-none d-md-flex" width="90">
                            </div>
                            <div class="col-sm-8">
                                <p>{{ item.name }} </p>
                                <p>{{ item.description }}</p>
                            </div>
                            <div class="col-sm-2">
                                <p>{{ item.price | currency: "EUR" }}</p>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 justify-content-center my-1">
            <div class="card">
                <div class="card-title">
                    <h3>Summary</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <p>Products: {{ productPrice() | currency: "EUR" }}</p>
                    </div>
                    <div class="row">
                        <p>Service {{ servicePrice() | currency: "EUR" }}</p>
                    </div>
                    <div class="row">
                        <p>Discount {{ discountPrice() | currency: "EUR" }}</p>
                    </div>
                    <hr>
                    <div class="row total">
                        <p>Total {{ totalPrice() | currency: "EUR" }}</p>
                    </div>
                </div>
            </div>
        </div>

<div class="container.fluid text-center p-5 row">
    <h1>Order Form</h1>
    <p>please fill up the info for the delivery</p>
    <hr>
    <div class="d-flex justify-content-center">
    <p>Name &ensp;<input type="text" formControlName="name"></p> 
    </div>
    <p>Address &nbsp;<input type="text" formControlName="address"></p>
    <button class="btn btn-primary" type="submit">Purchase</button>
</div>
