<h1 class="text-center">Ristorante JL Gambero Rosso</h1>
<br>
<div class="d-flex justify-content-space-around ">
<img src="https://cdn.pixabay.com/photo/2015/06/30/18/36/st-826688__340.jpg" class="d-none d-md-flex">
<div class="mx-2">
<h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, molestias.</h3>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error rem temporibus reprehenderit similique dolor magni officiis, exercitationem nisi? Magnam molestiae deserunt inventore facilis dolorum assumenda ab placeat quibusdam aliquid temporibus.</p>
<li>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, obcaecati!
</li>
<li>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, obcaecati!
</li>
<li>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, obcaecati!
</li>
<br>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In minus fugit neque quae suscipit mollitia harum similique dolorem omnis alias rem labore saepe, sunt quasi accusantium, atque, officiis necessitatibus reprehenderit.</p>
</div>
</div>
<br>