<h1 class="text-center">Our specialties</h1>
<br>
<hr>
<br>
<div class="container">
    <div class="row">
    <div *ngFor="let val of food; index as productId" class="col-lg-4 col-sm-6 col-xs-12 justify-content-center g-3">
    <div class="card" style="width: 18rem;">
        <img src="{{val.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{val.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <hr>
          <p>€{{val.price}}0</p>
          <hr>
          <div class="row">
            <ng-template [ngIf]="val.availability" [ngIfElse]="unavailable">
              <div class="col-md-12">
                <a class="btn btn-primary m-1" routerLink="../products/{{productId}}">Details</a>
                <button type="button" class="btn btn-success " (click)="addToCart(productId)">Order</button>
              </div>
            </ng-template>
            <ng-template #unavailable>
              <p class="text-danger">This product is not available.</p>
            </ng-template>
        </div>
      </div>    
    </div>
    </div>
    </div>
<br>